.git
.gitignore
.env
.env.backup
.env.testing
*.md
docker-compose*.yml
tests
phpunit.xml
.phpunit.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
node_modules
vendor
.idea
.vscode
*.log
